## Scraping car data from cars.com
    * https://medium.com/analytics-vidhya/scraping-car-prices-using-python-97086c30cd65

In [1]:
from bs4 import BeautifulSoup as bs
from requests import get
import pandas as pd
import os
import re
import ast
import datetime as dt
import numpy as np

### Basic script

In [2]:
# base_url =  "https://www.cars.com/for-sale/searchresults.action/?prMx=15000&rd=50&searchSource=QUICK_FORM&zc=97230"
# response = get(base_url)
# print(response)

# html = get(base_url).text
# soup = bs(html, 'lxml')
# results = soup.find_all('div', class_= 'listing-row__details')
# print(results)

In [3]:
# for result in results:
#     car_name=result.find("h2", class_= "listing-row__title").text.strip()
#     car_age=result.find("div", class_="listing-row__stocktype").text.strip()
#     car_price=result.find("div", class_="payment-section").find("span", class_="listing-row__price").text.strip()
#     try:
#         car_mileage=result.find("div", class_="payment-section").find("span", class_="listing-row__mileage").text.strip()
#     except AttributeError:
#         pass
#     car_ex_color = result.find("ul", class_="listing-row__meta").li.text.strip().split()[-1]
#     car_int_color = result.find_all('li')[1].text.strip().split()[-1]
#     car_trans = result.find_all('li')[2].text.strip().split()[-1]
#     car_dt= result.find_all('li')[3].text.strip().split()[-1]
    
    
#     print(car_name)
#     print(car_age)
#     print(car_price)
#     print(car_mileage)
#     print(car_ex_color)
#     print(car_int_color)
#     print(car_trans)
#     print(car_dt)
#     print("----------------------")

In [4]:
# STILL TRYING TO GET THIS LAST PIECE OF DATA

# car_int_color = result.find("ul", class_="listing-row__meta").find(["li",  "strong"], text = re.compile('Int'))
# print(car_int_color)

# car = ast.literal_eval(soup.div.attrs["savedfeatureinstance vehicle"])["bodystyleName"]
# print(car)

# car = result.find("div", class_="listing-row__save switch-favorite unsaved saveVehicleHeart compare-switch-favorite")
# print(car)

### Write a function

In [5]:
# def get_info():
#     name = []
#     stocktype = []
#     mileage = []
#     price = []
#     ext_color = []
#     int_color = []
#     trans = []
#     drivetrain = []
#     data = [name, stocktype, price, mileage, ext_color, int_color, trans, drivetrain]
    
#     base_url =  "https://www.cars.com/for-sale/searchresults.action/?prMx=15000&rd=50&searchSource=QUICK_FORM&zc=97230"
#     html = get(base_url).text
#     soup = bs(html, 'lxml')
#     results = soup.find_all('div', class_= 'listing-row__details')    
    
#     for result in results:
#         try:
#             name.append(result.find("h2", class_= "listing-row__title").text.strip())
#         except AttributeError:
#             name.append("NA")
        
#         try:
#             stocktype.append(result.find("div", class_="listing-row__stocktype").text.strip())
#         except AttributeError:
#             stocktype.append("NA")
        
#         try:
#             price.append(result.find("div", class_="payment-section").find("span", class_="listing-row__price").text.strip())
#         except AttributeError:
#             price.append("NA")
        
#         try:
#             mileage.append(result.find("div", class_="payment-section").find("span", class_="listing-row__mileage").text.strip())
#         except AttributeError:
#             mileage.append("NA")
            
#         try:
#             ext_color.append(result.find("ul", class_="listing-row__meta").li.text.strip().split()[-1])
#         except AttributeError:
#             ext_color.append("NA")

#         try:
#             int_color.append(result.find_all('li')[1].text.strip().split()[-1])
#         except AttributeError:
#             int_color.append("NA")


#         try:
#             trans.append(result.find_all('li')[2].text.strip().split()[-1])
#         except AttributeError:
#             trans.append("NA")
            
#         try:
#             drivetrain.append(result.find_all('li')[3].text.strip().split()[-1])
#         except AttributeError:
#             drivetrain.append("NA")
            
#     return data

In [6]:
# get_info()

### Scrape 36 pages of car data from cars.com 
1. Create dataframe
2. Export to csv

In [7]:
# name = []
# stocktype = []
# mileage = []
# price = []
# ext_color = []
# int_color = []
# trans = []
# drivetrain = []
# data = [name, stocktype, price, mileage, ext_color, int_color, trans, drivetrain]

# for i in range(1, 36):
#     base_url =  "https://www.cars.com/for-sale/searchresults.action/?page={}&perPage=100&prMx=15000&rd=50&searchSource=PAGINATION&sort=relevance&zc=97230".format(i)
#     html = get(base_url).text
#     soup = bs(html, 'lxml')
#     results = soup.find_all('div', class_= 'listing-row__details')

# # base_url =  "https://www.cars.com/for-sale/searchresults.action/?page=1&perPage=100&prMx=15000&rd=50&searchSource=PAGINATION&sort=relevance&zc=97230"
# # html = get(base_url).text
# # soup = bs(html, 'lxml')
# # results = soup.find_all('div', class_= 'listing-row__details')    

#     for result in results:
#         try:
#             name.append(result.find("h2", class_= "listing-row__title").text.strip())
#         except AttributeError:
#             name.append("NA")

#         try:
#             stocktype.append(result.find("div", class_="listing-row__stocktype").text.strip())
#         except AttributeError:
#             stocktype.append("NA")

#         try:
#             price.append(result.find("div", class_="payment-section").find("span", class_="listing-row__price").text.strip())
#         except AttributeError:
#             price.append("NA")

#         try:
#             mileage.append(result.find("div", class_="payment-section").find("span", class_="listing-row__mileage").text.strip())
#         except AttributeError:
#             mileage.append("NA")

#         try:
#             ext_color.append(result.find("ul", class_="listing-row__meta").li.text.strip().split()[-1])
#         except AttributeError:
#             ext_color.append("NA")

#         try:
#             int_color.append(result.find_all('li')[1].text.strip().split()[-1])
#         except AttributeError:
#             int_color.append("NA")


#         try:
#             trans.append(result.find_all('li')[2].text.strip().split()[-1])
#         except AttributeError:
#             trans.append("NA")

#         try:
#             drivetrain.append(result.find_all('li')[3].text.strip().split()[-1])
#         except AttributeError:
#             drivetrain.append("NA")

In [8]:
# data = pd.DataFrame({"Name" : name, 
#                      "Stocktype" : stocktype, 
#                      "Mileage (Miles)": mileage, 
#                      "Price" : price,
#                     "Ext_color": ext_color,
#                     "Int_color": int_color,
#                     "Transmission": trans,
#                     "Drivetrain": drivetrain})
# data.head(10)

In [9]:
# Dataframe shape
# data.shape

In [10]:
# Export 
# data.to_csv('Resources/cardata.csv')

## Data munging
* https://towardsdatascience.com/a-guide-to-pandas-and-matplotlib-for-data-exploration-56fad95f951c

In [11]:
data = pd.read_csv("Resources/cardata.csv", index_col=0)
data.head()

,Name,Stocktype,Mileage (Miles),Price,Ext_color,Int_color,Transmission,Drivetrain
0,2011 Nissan Frontier SV,Used,"116,657 mi.","$10,991",Black,Gray,Automatic,drive
1,2017 Honda Accord EX-L V-6,Used,"41,725 mi.","$14,491",Black,Black,Automatic,FWD
2,2016 Nissan Sentra SV,Used,"65,953 mi.","$8,991",White,Gray,CVT,FWD
3,2009 Land Rover LR2 HSE,Used,"25,420 mi.","$10,991",Black,Black,Automatic,drive
4,2011 Audi A6 3.0T Prestige quattro,Used,"78,612 mi.","$8,991",Black,Black,Automatic,AWD

##### Handle nulls

In [12]:
# Any nulls?
data.isnull().sum()

Name                0
Stocktype           0
Mileage (Miles)    13
Price               0
Ext_color           0
Int_color           0
Transmission        0
Drivetrain          0
dtype: int64

In [13]:
# Drop nulls and check again
data = data.dropna(axis=0, subset=["Mileage (Miles)"])
data.isnull().sum()

Name               0
Stocktype          0
Mileage (Miles)    0
Price              0
Ext_color          0
Int_color          0
Transmission       0
Drivetrain         0
dtype: int64

##### Create Year column so we can calculate the age of the car.  New column created: Car_Age_Year

In [14]:
# Create Year column and change to datetime format
# Calculate Car_Age_Year
# drop Car_Age_Day column

data["Model_Year"] = [x[:4] for x in data['Name']]
data["Model_Year"] = pd.to_datetime(data["Model_Year"])
data["Model_Year"] = data["Model_Year"].dt.date

In [15]:
data.head()

,Name,Stocktype,Mileage (Miles),Price,Ext_color,Int_color,Transmission,Drivetrain,Model_Year
0,2011 Nissan Frontier SV,Used,"116,657 mi.","$10,991",Black,Gray,Automatic,drive,2011-01-01
1,2017 Honda Accord EX-L V-6,Used,"41,725 mi.","$14,491",Black,Black,Automatic,FWD,2017-01-01
2,2016 Nissan Sentra SV,Used,"65,953 mi.","$8,991",White,Gray,CVT,FWD,2016-01-01
3,2009 Land Rover LR2 HSE,Used,"25,420 mi.","$10,991",Black,Black,Automatic,drive,2009-01-01
4,2011 Audi A6 3.0T Prestige quattro,Used,"78,612 mi.","$8,991",Black,Black,Automatic,AWD,2011-01-01

In [16]:
now = pd.to_datetime('today').date()
data['Car_Age_Day'] = now - data['Model_Year']
data["Car_Age_Year"] = round((data['Car_Age_Day'].dt.days)/365, 2)

In [17]:
data.head()

,Name,Stocktype,Mileage (Miles),Price,Ext_color,Int_color,Transmission,Drivetrain,Model_Year,Car_Age_Day,Car_Age_Year
0,2011 Nissan Frontier SV,Used,"116,657 mi.","$10,991",Black,Gray,Automatic,drive,2011-01-01,3455 days,9.47
1,2017 Honda Accord EX-L V-6,Used,"41,725 mi.","$14,491",Black,Black,Automatic,FWD,2017-01-01,1263 days,3.46
2,2016 Nissan Sentra SV,Used,"65,953 mi.","$8,991",White,Gray,CVT,FWD,2016-01-01,1629 days,4.46
3,2009 Land Rover LR2 HSE,Used,"25,420 mi.","$10,991",Black,Black,Automatic,drive,2009-01-01,4185 days,11.47
4,2011 Audi A6 3.0T Prestige quattro,Used,"78,612 mi.","$8,991",Black,Black,Automatic,AWD,2011-01-01,3455 days,9.47

In [18]:
data2 = data.drop(columns=['Car_Age_Day'])
data2.head()

,Name,Stocktype,Mileage (Miles),Price,Ext_color,Int_color,Transmission,Drivetrain,Model_Year,Car_Age_Year
0,2011 Nissan Frontier SV,Used,"116,657 mi.","$10,991",Black,Gray,Automatic,drive,2011-01-01,9.47
1,2017 Honda Accord EX-L V-6,Used,"41,725 mi.","$14,491",Black,Black,Automatic,FWD,2017-01-01,3.46
2,2016 Nissan Sentra SV,Used,"65,953 mi.","$8,991",White,Gray,CVT,FWD,2016-01-01,4.46
3,2009 Land Rover LR2 HSE,Used,"25,420 mi.","$10,991",Black,Black,Automatic,drive,2009-01-01,11.47
4,2011 Audi A6 3.0T Prestige quattro,Used,"78,612 mi.","$8,991",Black,Black,Automatic,AWD,2011-01-01,9.47

##### Create a new column:  Car_Make
    * taken by splitting Name column

In [19]:
# Create new column with Car_Make
# car_list = ["Acura" , "Alfa Romeo" , "Am General" , "Aston Martin","Audi","Avanti Motors","Bentley",
#             "BMW","Bugatti","Buick,Cadillac","Chevrolet", "Chrysler","Daewoo","Daihatsu","Dodge",
#             "Eagle","Ferrari","FIAT","Fisker","Ford","Genesis","Geo","GMC","Honda","Hummer","Hyundai","INFINITI",
#             "International","Isuzu","Jaguar","Jeep","Kia","Koenigsegg","Lamborghini","Land Rover","Lexus",
#             "Lincoln","Lotus","Maserati","Maybach","Mazda","McLaren","Mercedes-Benz","Mercury","MINI",
#             "Mitsubishi","Morgan","Nissan","Oldsmobile","Panoz","Plymouth","Pontiac","Porsche","RAM","Rolls-Royce",
#             "Saab","Saleen","Saturn","Scion","smart","Subaru","Suzuki","Tesla","Toyota","Volkswagen","Volvo"]

In [20]:
# Fix the names so that there are no spaces: Land Rover, Alfa Romeo, Am General, Avanti Motors
# Then we can select Car_Make

data2.loc[data2['Name'].str.contains('Land Rover'), 'Name'] = data2.loc[data2['Name'].str.contains('Land Rover'), 'Name'].str.replace('Land Rover', 'Land_Rover')
data2.loc[data2['Name'].str.contains('Alfa Romeo'), 'Name'] = data2.loc[data2['Name'].str.contains('Alfa Romeo'), 'Name'].str.replace('Alfa Romeo', 'Alfa_Romeo')
data2.loc[data2['Name'].str.contains('Am General'), 'Name'] = data2.loc[data2['Name'].str.contains('Am General'), 'Name'].str.replace('Am General', 'Am_General')
data2.loc[data2['Name'].str.contains('Avanti Motors'), 'Name'] = data2.loc[data2['Name'].str.contains('Avanti Motors'), 'Name'].str.replace('Avanti Motors', 'Avanti_Motors')

In [22]:
data2["Car_Make"] = data2["Name"].str.split().str[1]
# data2[data2["Car_Make"].str.contains('Land_Rover')]

In [23]:
data2.head()

,Name,Stocktype,Mileage (Miles),Price,Ext_color,Int_color,Transmission,Drivetrain,Model_Year,Car_Age_Year,Car_Make
0,2011 Nissan Frontier SV,Used,"116,657 mi.","$10,991",Black,Gray,Automatic,drive,2011-01-01,9.47,Nissan
1,2017 Honda Accord EX-L V-6,Used,"41,725 mi.","$14,491",Black,Black,Automatic,FWD,2017-01-01,3.46,Honda
2,2016 Nissan Sentra SV,Used,"65,953 mi.","$8,991",White,Gray,CVT,FWD,2016-01-01,4.46,Nissan
3,2009 Land_Rover LR2 HSE,Used,"25,420 mi.","$10,991",Black,Black,Automatic,drive,2009-01-01,11.47,Land_Rover
4,2011 Audi A6 3.0T Prestige quattro,Used,"78,612 mi.","$8,991",Black,Black,Automatic,AWD,2011-01-01,9.47,Audi

##### Create a new column: Car_Model

In [24]:
car = data2["Name"].str.split()
print(car)

0                    [2011, Nissan, Frontier, SV]
1                [2017, Honda, Accord, EX-L, V-6]
2                      [2016, Nissan, Sentra, SV]
3                    [2009, Land_Rover, LR2, HSE]
4       [2011, Audi, A6, 3.0T, Prestige, quattro]
                          ...
3495                    [2014, Kia, Sportage, LX]
3496                [2013, Chevrolet, Volt, Base]
3497                    [2015, Honda, CR-V, EX-L]
3498                          [2002, BMW, 325, i]
3499                    [2014, Honda, Accord, LX]
Name: Name, Length: 3487, dtype: object

In [25]:
data2["Car_Model"] = data2["Name"].str.split().str[2]
data2.head()

,Name,Stocktype,Mileage (Miles),Price,Ext_color,Int_color,Transmission,Drivetrain,Model_Year,Car_Age_Year,Car_Make,Car_Model
0,2011 Nissan Frontier SV,Used,"116,657 mi.","$10,991",Black,Gray,Automatic,drive,2011-01-01,9.47,Nissan,Frontier
1,2017 Honda Accord EX-L V-6,Used,"41,725 mi.","$14,491",Black,Black,Automatic,FWD,2017-01-01,3.46,Honda,Accord
2,2016 Nissan Sentra SV,Used,"65,953 mi.","$8,991",White,Gray,CVT,FWD,2016-01-01,4.46,Nissan,Sentra
3,2009 Land_Rover LR2 HSE,Used,"25,420 mi.","$10,991",Black,Black,Automatic,drive,2009-01-01,11.47,Land_Rover,LR2
4,2011 Audi A6 3.0T Prestige quattro,Used,"78,612 mi.","$8,991",Black,Black,Automatic,AWD,2011-01-01,9.47,Audi,A6

##### Create a new column: Car_Trim

In [26]:
data2["Car_Trim"] = data2["Name"].str.split().str[-1]
data2.head()

,Name,Stocktype,Mileage (Miles),Price,Ext_color,Int_color,Transmission,Drivetrain,Model_Year,Car_Age_Year,Car_Make,Car_Model,Car_Trim
0,2011 Nissan Frontier SV,Used,"116,657 mi.","$10,991",Black,Gray,Automatic,drive,2011-01-01,9.47,Nissan,Frontier,SV
1,2017 Honda Accord EX-L V-6,Used,"41,725 mi.","$14,491",Black,Black,Automatic,FWD,2017-01-01,3.46,Honda,Accord,V-6
2,2016 Nissan Sentra SV,Used,"65,953 mi.","$8,991",White,Gray,CVT,FWD,2016-01-01,4.46,Nissan,Sentra,SV
3,2009 Land_Rover LR2 HSE,Used,"25,420 mi.","$10,991",Black,Black,Automatic,drive,2009-01-01,11.47,Land_Rover,LR2,HSE
4,2011 Audi A6 3.0T Prestige quattro,Used,"78,612 mi.","$8,991",Black,Black,Automatic,AWD,2011-01-01,9.47,Audi,A6,quattro

##### Export dataframe to csv

In [27]:
data2.to_csv('Resources/cardata2.csv')